
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerh2{
  text-align: center; 
  color: #70062C;
  background-color: #edbe5e; 
  padding-top: 35px;
  padding-bottom: 20px;
  font-size: 35;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px; /* Added margin for spacing between containers */
  padding: 20px;
  margin: 10px;
}

.meal {
  width: calc(100% / 4 - 20px); /* Adjusted width for responsiveness */
  margin: 10px; /* Added margin for spacing between meals */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

.meal img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.description {
  padding: 20px;
}

.description h2 {
  text-align: center;
  margin-top: 0;
  font-size: 1.3rem;
  color: #70062C;
}

.description p {
  color:black;
}


button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #edbe5e;
  color: #70062C;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffcf78;
}

@media screen and (max-width: 768px) {
  .meal {
      width: calc(100% - 20px); /* Adjusted width for smaller screens */
  }
}



  /* THIS IS FOOTER SECTION */

  .footer{
    background-color: #70062c;
    color: #fff;
    padding: 20px 0;
}

.footer-container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section{
    margin: 0 35px;
    flex: 1 1 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.footer-section:last-child {
    margin-right: 0;
}


.footer-section h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section p a:hover {
    font-size: 16px;
    color: white;
    border-radius: 5px;
    width: 10px;
}


.feedback-form1 input,
.feedback-form1 textarea,
.feedback-form1 button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #181818;
    border-radius: 5px;
    box-sizing: border-box;
}

.feedback-form1 button:hover{
    background-color: white;
    color: #70062c;
    cursor: pointer;
    font-size: large;
}


.feedback-form1 textarea{
    /* background-color: rgb(194, 193, 193); */
    color: black;
}

.feedback-form1 button{
    margin-left: 0;
    background-color:#EDBE5E;
    color:#70062c;
    font-size: larger;
}


.social-icons a {
display: inline-block;
margin: 2px;
padding: 0;
justify-content: center;
align-items: center;
}

.social-icons img {
    width: 35px;
    padding: 5px;
    border-radius: 5px;
    float: left;
}


.base {
    text-align: center;
    font-style: italic;
    margin: 10px;
}

@media screen and (max-width:768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin: 5px;
    }

    .footer-section{
        flex: 1 1 auto;
        margin-right: 0;
        text-align: center;
    }

    .feedback-form input,
    .feedback-form textarea,
    .feedback-form button{

        align-items: center;
        padding: 5px;
        margin: 5p;
    }    
}


